<img src="http://upxacademy.com/wp-content/uploads/2016/07/upx-logo-02-e1467712070244.png">
# UpX Academy - Python Advanced Practice
# Solution - Ex 01 - Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Read chipotle.tsv file and assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv('D:/UpX/DS-FoundationJan17/Week3/Assignments/Problems/PythonAdvanced/Datasets/chipotle.tsv', sep = '\t')

### Step 3. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. What is the number of observations in the dataset?

In [6]:
chipo.info()#

# OR

chipo.shape[0]
# 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

4622

### Step 5. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

### Step 6. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 8. Which was the most ordered item?

In [10]:
chipo.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 9. How many items were ordered?

In [11]:
mostOrd = chipo.item_name.unique() #or mostOrd = chipo["item_name"].max()
mostOrd

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos', 'Chicken Soft Tacos',
       'Chicken Burrito', 'Canned Soda', 'Barbacoa Burrito',
       'Carnitas Burrito', 'Carnitas Bowl', 'Bottled Water',
       'Chips and Tomatillo Green Chili Salsa', 'Barbacoa Bowl', 'Chips',
       'Chicken Salad Bowl', 'Steak Bowl', 'Barbacoa Soft Tacos',
       'Veggie Burrito', 'Veggie Bowl', 'Steak Crispy Tacos',
       'Chips and Tomatillo Red Chili Salsa', 'Barbacoa Crispy Tacos',
       'Veggie Salad Bowl', 'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'], dtype=object)

### Step 10. What was the most ordered item in the choice_description column?

In [12]:
chipo.choice_description.value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

### Step 11. How many items were orderd in total?

In [13]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### Step 12. How much was the revenue for the period in the dataset?

In [14]:
# create a list of prices
prices = [float(value[1:-1]) for value in chipo.item_price] # strip the dollar sign and trailing space

total = sum(prices) #sum the items


print("The revenue of the period was: " + "${0:.2f}".format(total))

The revenue of the period was: $34500.16

### Step 13. How many orders were made in the period?

In [15]:
orders = len((set([order for order in chipo.order_id])))
orders

1834

### Step 14. What is the average amount per order?

In [17]:
avg_order = total / orders

print ("The average order is: $%s" % round(avg_order, 2))

The average order is: $18.81

### Step 15. How many different items are sold?

In [18]:
len(chipo.item_name.unique())

50